body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 30px;
}

.func-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: background-color 0.2s;
    cursor: pointer;
}

.func-button:hover {
    background-color: #e6e6e6;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    text-align: justify,
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.post {
    position: relative;
}

.delete-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-button {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FFC1C1;
}

.edit-form {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.edit-button {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #ddd;
}